:root {
    --viridian: #6b9080ff;
    --cambridge-blue: #a4c3b2ff;
    --mint-green: #cce3deff;
    --azure-web: #eaf4f4ff;
    --mint-cream: #f6fff8ff;
}
.nav-link {
    color: #E5C3A6;
}

/* Applying a professional font */
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(gameoflife.gif);
}

  .carousel {
    width: 100%; /* Yeap you can change the width and height*/
    height:600px;
  }

  .carousel > .carousel-inner > .carousel-item > img{
    width: 100%; /* Yeap you can change the width and height*/
    height:600px;
}
/* Navbar styles */
.navbar {
    background-color: #2E4374; /* Dark Gray */
    text-align: center;
    color: #E5C3A6;
}

.col-md {
    justify-content: center;
    margin: 30px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding */
    background-color: #7C81AD;
    color: #E5C3A6;
}

.nav-link:hover {
    color: var(--mint-cream);
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

/* Container and section styles */
.container {
    justify-content: center;
    margin: auto;
    margin-top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; 
    background-color: #4B527E;
    max-height: 100%;
}

.section {
    background-color: #ffffff; /* White */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 30px;
}

.section h2 {
    color: #343a40; /* Dark Gray */
    margin-bottom: 20px;
}

.section p {
    color: #343a40; /* Dark Gray */
    font-size: 16px;
}

.section ul {
    list-style-type: none;
}

.section ul li {
    color: #343a40; /* Dark Gray */
    margin-bottom: 10px;
}

.section ul li a {
    color: #007bff; /* Primary Blue */
    text-decoration: none;
}

.section ul li a:hover {
    text-decoration: underline;
    text-decoration-color: darkcyan;
}

